[submodule "s2protocol"]
	path = s2protocol
	url = git://github.com/Blizzard/s2protocol.git
	branch = master
[submodule "heroprotocol"]
	path = heroprotocol
	url = git@github.com:Blizzard/heroprotocol.git
	branch = master
